/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require select2
 *= require select2-bootstrap
 *= require jquery.nouislider.min
 *= require_self
 */


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

/* Set the fixed height of the footer here */
#footer {
    margin-top: 50px;
}

.container {
    max-width: 970px;
    width: auto;
    padding: 0 15px;
}

.address_select_map {
    width: 100%;
    height: 400px;
    background-color: #eee;
    margin-bottom:20px;
}

.show_single_map {
    width: 100%;
    height: 600px;
    background-color: #eee;
}

.show_all_map {
    width: 100%;
    height: 600px;
    background-color: #eee;
}

.range-select .slider {
    padding-left: 15px;
    padding-right: 15px;
}